{{define "job-incomplete"}}
{{template "header" . }}
<h1>job {{ .Job.JobId }} (incomplete) </h1>

Next {{ .NextRun | tojson }}<p>

<h2>Run Detail</h2>

<pre>
{{ if .RunSpec }}
{{ .RunSpec.GetLastLogs 1000 | escape }}
{{ else }}
    <b>No run spec</b>
{{ end }}
</pre>


<h2>Job Detail</h2>
<table width=100% style="vertical-align: top;">
<tr>
<td>
    Job:<br> <pre>{{ .Job | tojson }}</pre>
</td>
<td>
    RunSpec:<br> <pre>{{ .RunSpec | tojson }}</pre>
</td>
</tr>
<table>

{{template "footer" . }}
{{end}}
