{{define "job"}}
{{template "header" . }}
<meta http-equiv="refresh" content="30">


run:<br>
{{range $run := .Runs}}
{{ if eq $run ( printf "%d" $.RunSpec.RunId ) }}
*<a href="/ui/job/{{$.Job.JobId}}/{{$run}}">{{$run}}</a>* &nbsp;
{{else}}
<a href="/ui/job/{{$.Job.JobId}}/{{$run}}">{{$run}}</a> &nbsp;
{{end}}
{{end}}


<h1>job {{ .Job.JobId }}</h1>

{{ if .Job.Schedule }}
    Today {{ now }}<br>
    {{ if .NextRun.Prev }}
        Prev {{ .NextRun.Prev }}
    {{ else }}
        No Prev Run Time
    {{ end }}
    <br>
    {{ if .NextRun.Next }}
        Next {{ .NextRun.Next }}<br>
    {{ else }}
        No Next Run Time
    {{ end }}
{{ else }}
job is not scheduled
{{ end }}

<h2>Latest Run Detail</h2>

<div style="overflow: auto;">
{{ .RunSpec.GetLastLogs 1000 | nl2br }}
</div>


<h2>Job Detail</h2>
<table style="vertical-align: top;">
<tr>
<td>
    Job:<br> <pre>{{ .Job | tojson }}</pre>
</td>
<td>
    RunSpec:<br> <pre>{{ .RunSpec | tojson }}</pre>
</td>
<td>
    Schedule:<br> <pre>{{ .Schedule | tojson }}</pre>
</td>
</tr>
<table>

{{template "footer" . }}
{{end}}

<script language="javascript">
document.onload = function() {
    var textarea = document.getElementById('console');
    textarea.scrollTop = textarea.scrollHeight;
}
</script>
